[Desktop Entry]
Name=gpuvis
GenericName=GPU Trace Visualizer
Comment=gpuvis desktop application
Exec=gpuvis
Icon=com.github.gpuvis.Gpuvis
Terminal=false
Type=Application
Categories=Graphics;
